@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;800;900&display=swap');

@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

.header {
    &__container {
        display: flex;
        max-width: 120rem;
        margin: 0 auto;	
        padding: 3.75rem 16.5rem;
        align-items: center;
        justify-content: space-between;
    }
    &__logo-text {
        display: flex;
        flex-direction: column;
        row-gap: .4rem;
    }
    &__logo {
        display: flex;
        align-items: center;
        column-gap: 0.85rem;
    }
    &__menu {}
    &__shop {
        display: flex;
        position: relative;
        column-gap: .25rem;
        align-items: center;
        font-weight: 700;
        line-height: 1.25rem;
    }
    background: var(--black-1, #2F302C);
    color: #FFF;
}
.logo {
    width: 3rem;
    height: 3rem;
}
.logo-header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
}
.tm {
    font-size: .5rem;
}
.logo-theme {
    font-size: .75rem;
    letter-spacing: .2rem;
}
.menu {
    &__body {}
    &__list {
        display: flex;
        column-gap: 2.75rem;
        font-weight: 700;
        line-height: 1.25rem;
    }
    &__item {
        &:hover {
            text-decoration: underline;
        }
    }
    &__link {}
}
.shop {
}
.shop-img {
    width: 2rem;
}

.welcome {
    &__container {
        display: flex;
        justify-content: flex-end;
        max-width: 120rem;
        margin: 0 auto;	
        padding: 7rem 16.5rem;
    }
    &__block {
        max-width: 35rem;
    }
    &__header {
    }
    &__header-text {
        color: var(--black-1, #2F302C);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.75rem;
        padding-block: 1.25rem;
    }
    &__header-title {
        font-family: 'Montserrat', sans-serif;
        color: #2F302C;
        font-size: 6rem;
        font-weight: 700;
        line-height: 6.25rem;
        padding-bottom: 1rem;
    }
    &__header-line {
        background: #2F302C;
        width: 19.25rem;
        height: 0.0625rem;
    }
    &__header-subtext {
        color: var(--black-3, #7E7F7C);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
    }
    background: url(../img/welcome/1.jpg) center center no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.popular {
    &__container {
        max-width: 120rem;
        margin: 0 auto;	
        padding: 5.12rem 16.5rem;
    }
    &__block {}
    &__img {
        display: flex;
    }
    &__img-img {}
    &__content {}
}
.block {
    &__popular-item {
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 6rem 0;
        background: #F7F7F7;
        padding: 4rem 3rem;
        position: relative;
    }
    &__popular-active {
        display: flex;
        flex-direction: column-reverse;
        background: #E6EFEA;
        flex: 1 1 auto;
    }
    &__popular-header {
        color: var(--black-1, #2F302C);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 800;
        line-height: 1.75rem;
        margin-bottom: 1.5rem;
    }
    &__popular-text {
        color: var(--black-3, #7E7F7C);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        margin-bottom: 2rem;
    }
    &__popular-link {
        color: var(--black-3, #7E7F7C);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
    }
    display: flex;
    gap: 0 2.25rem;
}
